USE [master]
GO
/****** Object:  Database [PaymatikDB]    Script Date: 21.07.2025 12:05:55 ******/
CREATE DATABASE [PaymatikDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PaymatikDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PaymatikDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PaymatikDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PaymatikDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaymatikDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaymatikDB]
GO
/****** Object:  Table [dbo].[tbl_BagBol]    Script Date: 21.07.2025 12:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BagBol](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BinaId] [int] NOT NULL,
	[KatNo] [int] NULL,
	[Cephe] [nvarchar](50) NULL,
	[KapiNo] [nvarchar](10) NOT NULL,
	[Metrekare] [float] NULL,
	[BagBolTur] [nvarchar](50) NULL,
	[OrtakAlan] [bit] NOT NULL,
	[OkumaSirasi] [int] NOT NULL,
 CONSTRAINT [PK__Daireler__3214EC07A7A8E31E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Bina]    Script Date: 21.07.2025 12:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Bina](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[BinaKodu] [nvarchar](50) NULL,
	[Adres] [nvarchar](255) NULL,
 CONSTRAINT [PK__Binalar__3214EC07DA7E6A08] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Donem]    Script Date: 21.07.2025 12:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Donem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BinaId] [int] NULL,
	[DonemNo] [int] NULL,
	[DonemAdi] [nvarchar](20) NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_tbl_Donem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Kullanici]    Script Date: 21.07.2025 12:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Kullanici](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BinaID] [int] NULL,
	[BagBolID] [int] NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](50) NULL,
	[Eposta] [nvarchar](100) NOT NULL,
	[SifreHash] [nvarchar](255) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK__Kullanic__3214EC07EFCB20F9] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Paylasim]    Script Date: 21.07.2025 12:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Paylasim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BinaId] [int] NOT NULL,
	[Donem] [nvarchar](20) NOT NULL,
	[SayactanOkunanHacim] [decimal](10, 2) NULL,
	[FaturaTutar] [decimal](10, 2) NOT NULL,
	[SuSicakligi] [int] NULL,
	[DusukKullanimCeza] [bit] NULL,
	[CezaDagitimTur] [nvarchar](10) NULL,
	[HesaplamaTarihi] [datetime] NULL,
	[FaturaSonOdemeTarihi] [datetime] NULL,
 CONSTRAINT [PK__Paylasim__3214EC07F76600CF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PaylasimDetay]    Script Date: 21.07.2025 12:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PaylasimDetay](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PaylasimId] [int] NOT NULL,
	[DaireId] [int] NOT NULL,
	[IsinmaTuketim] [float] NOT NULL,
	[IsinmaTutar] [decimal](10, 2) NOT NULL,
	[SuTuketim] [float] NOT NULL,
	[SuTutar] [decimal](10, 2) NOT NULL,
	[OrtakAlanTutar] [decimal](10, 2) NULL,
	[DusukKullanimTutar] [decimal](10, 2) NULL,
	[ToplamTutar] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Paylasim__3214EC0772A4D557] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SayacOkuma]    Script Date: 21.07.2025 12:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SayacOkuma](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BagBolId] [int] NOT NULL,
	[DonemID] [int] NOT NULL,
	[SayacTuru] [nvarchar](20) NOT NULL,
	[OncekiDeger] [float] NULL,
	[GuncelDeger] [float] NOT NULL,
	[OkumaTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK__Sayaclar__3214EC0750B7A06F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tanimlar]    Script Date: 21.07.2025 12:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tanimlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NULL,
	[Degeri] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Tanimlar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_BagBol] ON 

INSERT [dbo].[tbl_BagBol] ([ID], [BinaId], [KatNo], [Cephe], [KapiNo], [Metrekare], [BagBolTur], [OrtakAlan], [OkumaSirasi]) VALUES (6, 5, 0, N'Doğu', N'2', 160, N'Toplantı Odası', 1, 3)
INSERT [dbo].[tbl_BagBol] ([ID], [BinaId], [KatNo], [Cephe], [KapiNo], [Metrekare], [BagBolTur], [OrtakAlan], [OkumaSirasi]) VALUES (10, 5, 0, N'Batı', N'3', 160, N'Görevli Dairesi', 1, 4)
INSERT [dbo].[tbl_BagBol] ([ID], [BinaId], [KatNo], [Cephe], [KapiNo], [Metrekare], [BagBolTur], [OrtakAlan], [OkumaSirasi]) VALUES (11, 5, 1, N'Güney', N'7', 220, N'Mesken', 0, 6)
SET IDENTITY_INSERT [dbo].[tbl_BagBol] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Bina] ON 

INSERT [dbo].[tbl_Bina] ([ID], [Ad], [BinaKodu], [Adres]) VALUES (1, N'Nirvana', N'Bk101', N'Yakut Mahallesi Ümran Sokak No:1 Kocasinan / Kayseri')
INSERT [dbo].[tbl_Bina] ([ID], [Ad], [BinaKodu], [Adres]) VALUES (3, N'Eraslan', N'Bk102', N'Yakut Mah. Nato Cad. 38 Kocasinan / Kayseri')
INSERT [dbo].[tbl_Bina] ([ID], [Ad], [BinaKodu], [Adres]) VALUES (5, N'Coşkun', N'Bk103', N'Fevzi Çakmak Mah. Hilal Cad. Kocasinan Kayseri')
SET IDENTITY_INSERT [dbo].[tbl_Bina] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Donem] ON 

INSERT [dbo].[tbl_Donem] ([ID], [BinaId], [DonemNo], [DonemAdi], [Durum]) VALUES (2, 5, 2, N'2026-Mayıs', 1)
INSERT [dbo].[tbl_Donem] ([ID], [BinaId], [DonemNo], [DonemAdi], [Durum]) VALUES (13, 5, 3, N'2025-Haziran', NULL)
SET IDENTITY_INSERT [dbo].[tbl_Donem] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Paylasim] ON 

INSERT [dbo].[tbl_Paylasim] ([ID], [BinaId], [Donem], [SayactanOkunanHacim], [FaturaTutar], [SuSicakligi], [DusukKullanimCeza], [CezaDagitimTur], [HesaplamaTarihi], [FaturaSonOdemeTarihi]) VALUES (4, 5, N'2026-Mayıs', CAST(2500.00 AS Decimal(10, 2)), CAST(60000.00 AS Decimal(10, 2)), 50, 1, N'Genel', NULL, CAST(N'2025-06-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Paylasim] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_SayacOkuma] ON 

INSERT [dbo].[tbl_SayacOkuma] ([ID], [BagBolId], [DonemID], [SayacTuru], [OncekiDeger], [GuncelDeger], [OkumaTarihi]) VALUES (13, 13, 2, N'SicakSu', 0, 10, CAST(N'2025-06-04T09:03:10.017' AS DateTime))
INSERT [dbo].[tbl_SayacOkuma] ([ID], [BagBolId], [DonemID], [SayacTuru], [OncekiDeger], [GuncelDeger], [OkumaTarihi]) VALUES (14, 13, 2, N'DogalGaz', 0, 11, CAST(N'2025-06-04T09:03:14.337' AS DateTime))
INSERT [dbo].[tbl_SayacOkuma] ([ID], [BagBolId], [DonemID], [SayacTuru], [OncekiDeger], [GuncelDeger], [OkumaTarihi]) VALUES (15, 20, 2, N'SicakSu', 0, 20, CAST(N'2025-06-04T09:03:19.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_SayacOkuma] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Tanimlar] ON 

INSERT [dbo].[tbl_Tanimlar] ([ID], [Adi], [Degeri]) VALUES (1, N'Cephe', N'Doğu')
INSERT [dbo].[tbl_Tanimlar] ([ID], [Adi], [Degeri]) VALUES (2, N'Cephe', N'Batı')
INSERT [dbo].[tbl_Tanimlar] ([ID], [Adi], [Degeri]) VALUES (3, N'Cephe', N'Güney')
SET IDENTITY_INSERT [dbo].[tbl_Tanimlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__03ABA391F8A88E28]    Script Date: 21.07.2025 12:05:55 ******/
ALTER TABLE [dbo].[tbl_Kullanici] ADD  CONSTRAINT [UQ__Kullanic__03ABA391F8A88E28] UNIQUE NONCLUSTERED 
(
	[Eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_BagBol] ADD  CONSTRAINT [DF_tbl_BagBol_Metrekare]  DEFAULT ((0)) FOR [Metrekare]
GO
ALTER TABLE [dbo].[tbl_BagBol] ADD  CONSTRAINT [DF_tbl_BagBol_OrtakAlan]  DEFAULT ((0)) FOR [OrtakAlan]
GO
ALTER TABLE [dbo].[tbl_BagBol] ADD  CONSTRAINT [DF_tbl_BagBol_OkumaSirasi]  DEFAULT ((1)) FOR [OkumaSirasi]
GO
ALTER TABLE [dbo].[tbl_Donem] ADD  CONSTRAINT [DF_tbl_Donem_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[tbl_Kullanici] ADD  CONSTRAINT [DF__Kullanici__Durum__25869641]  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[tbl_Paylasim] ADD  CONSTRAINT [DF__Paylasiml__Hesap__36B12243]  DEFAULT (getdate()) FOR [HesaplamaTarihi]
GO
ALTER TABLE [dbo].[tbl_SayacOkuma] ADD  CONSTRAINT [DF_tbl_SayacOkuma_OkumaTarihi]  DEFAULT (getdate()) FOR [OkumaTarihi]
GO
ALTER TABLE [dbo].[tbl_BagBol]  WITH CHECK ADD  CONSTRAINT [FK__Daireler__BinaId__2A4B4B5E] FOREIGN KEY([BinaId])
REFERENCES [dbo].[tbl_Bina] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_BagBol] CHECK CONSTRAINT [FK__Daireler__BinaId__2A4B4B5E]
GO
ALTER TABLE [dbo].[tbl_Donem]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Donem_tbl_Bina] FOREIGN KEY([BinaId])
REFERENCES [dbo].[tbl_Bina] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Donem] CHECK CONSTRAINT [FK_tbl_Donem_tbl_Bina]
GO
ALTER TABLE [dbo].[tbl_Paylasim]  WITH CHECK ADD  CONSTRAINT [FK__Paylasiml__BinaI__37A5467C] FOREIGN KEY([BinaId])
REFERENCES [dbo].[tbl_Bina] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Paylasim] CHECK CONSTRAINT [FK__Paylasiml__BinaI__37A5467C]
GO
ALTER TABLE [dbo].[tbl_PaylasimDetay]  WITH CHECK ADD  CONSTRAINT [FK__PaylasimD__Daire__3B75D760] FOREIGN KEY([DaireId])
REFERENCES [dbo].[tbl_BagBol] ([ID])
GO
ALTER TABLE [dbo].[tbl_PaylasimDetay] CHECK CONSTRAINT [FK__PaylasimD__Daire__3B75D760]
GO
ALTER TABLE [dbo].[tbl_PaylasimDetay]  WITH CHECK ADD  CONSTRAINT [FK__PaylasimD__Payla__3A81B327] FOREIGN KEY([PaylasimId])
REFERENCES [dbo].[tbl_Paylasim] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_PaylasimDetay] CHECK CONSTRAINT [FK__PaylasimD__Payla__3A81B327]
GO
ALTER TABLE [dbo].[tbl_SayacOkuma]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SayacOkuma_tbl_BagBol] FOREIGN KEY([BagBolId])
REFERENCES [dbo].[tbl_BagBol] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_SayacOkuma] CHECK CONSTRAINT [FK_tbl_SayacOkuma_tbl_BagBol]
GO
ALTER TABLE [dbo].[tbl_SayacOkuma]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SayacOkuma_tbl_Donem] FOREIGN KEY([DonemID])
REFERENCES [dbo].[tbl_Donem] ([ID])
GO
ALTER TABLE [dbo].[tbl_SayacOkuma] CHECK CONSTRAINT [FK_tbl_SayacOkuma_tbl_Donem]
GO
USE [master]
GO
