
<div class="modal fade" id="_modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-gradient-info">
                <h4 class="modal-title" id="_modalTitle">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="_modalBody">
            </div>

            <div style="text-align: center; display: none" id="loaderDiv">
                Kaydediliyor...
                <br />
                <img src="~/Content/img/loader.gif" width="200" />
            </div>

            <div class="modal-footer  justify-content-between" style="background-color:whitesmoke">
                <button type="button" id="btn_close" class="btn btn-outline-dark" data-dismiss="modal">Kapat</button>
                <button type="button" id="btn_Kaydet" class="btn btn-outline-dark">Kaydet</button>
            </div>
        </div>
    </div>
</div>
